body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  background-color: #b92c2c;
  overflow: auto;
}

h1, h2{
  font-family: 'Playfair Display';
}
p{
  margin: 0;
}

textarea{
  width: 98%;
  resize: vertical;
  background-color: gray;
}

th, td{
  border: solid black 1px;
}

.toolbar{
    width:100%;
    border-bottom: solid black 1px;
    box-shadow: 0 0 10px black;
    margin-bottom: 10px;
    background-color: green;
}

.tbElements p,
.tbElements > {
  display: inline-block;
}

.title{
  display: inline-block;
}

.md_modal{
  border: solid black 1px;
  width: 40%;
  margin-left: 30%;
  margin-top: 3em;
  margin-bottom: 3em;
  box-shadow: 0 0 10px black;
}

.preview_modal{
  width: 70%;
  margin-left: 15%;
  box-shadow: 0 0 10px black;
  border: solid black 1px;
}