body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  background-color: #b92c2c;
  overflow: auto;
}

h1, h2{
  font-family: 'Playfair Display';
}

textarea{
  width: 100%;
  resize: vertical;
}

th, td{
  border: solid black 1px;
}

.toolbar{
    width:100%;
    box-shadow: 0 0 20px gray;
}

.md_modal{
  border: dashed black 2px;
  width: 80%;
  margin-left: 10%;
}