html,
body{
  height: 100%;
}

.wrapper{
  height: 100%;
}

#app{
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  background-color: #b92c2c;
  overflow: auto;
}

h1, h2{
  font-family: 'Playfair Display';
}
p{
  margin: 0;
}

textarea{
  width: 98%;
  resize: vertical;
  background-color: #b92c2c;
  min-height: 12em;
  border: none;
  height: 90%;
  overflow: hidden; 
}
textarea:hover{overflow: auto;}
textarea::-webkit-scrollbar-track {background: #b92c2c;}
textarea::-webkit-scrollbar-track-piece {background: #b92c2c;}
textarea::-webkit-scrollbar {background: #b92c2c;}
textarea::-webkit-scrollbar-thumb {border-radius: 4px;}

th, td{
  border: solid black 1px;
}

.toolbar{
    width:100%;
    border-bottom: solid black 1px;
    box-shadow: 0 0 10px black;
    margin-bottom: 10px;
    background-color: green;
}

.fa-free-code-camp{
  display: inline-block;
  padding-right: .5em;
  padding-left: .5em;
  padding-top: .1em;
}

.title{
  display: inline-block;
}

.modal{
  box-shadow: 0 0 10px black;
  border: solid black 1px;
}

.md_modal{
  width: 40%;
  margin-left: 30%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.preview_modal{
  width: 70%;
  margin-left: 15%;
  min-height: 12em;
}

.button{
  display: inline-block;
  float: right;
  padding-right: .5em;
  padding-top: .1em;
}

.modal_max{
  width: 90%;
  min-height: 90%;
  margin-left: 5%;
  margin-top: 3em;
  margin-bottom: 3em;
}